<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Logout Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        button:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h3>Logged out successfully</h3>
    <a href="{%url 'login'%}" style="text-decoration: none;color: black;"><button style="border: 0;background-color: #4681f4;padding: 15px;margin-top: 20px;">Login Again</button></a>
</body>
</html>