body{
    padding: 0;
    margin: 0;
    font-family:  Google Sans,Helvetica Neue,sans-serif;
    overflow: hidden;
}
.left_bar{
    position: relative;
    background-color: #2c2b2b;
    flex-basis: 25%;
    padding-top: 100px;
    padding-left: 50px;
    color: #fff;
    overflow-y: scroll;
    overscroll-behavior: content;
    transition: 0.1s ease-in-out;
}
.menu{
    position:absolute;
    top:20px;
    left:20px;
    font-size: larger;
    cursor: pointer;
    z-index: 100;
    color: #fff;
}

.recent{
    margin-bottom: 30px;
}
.history{
    display: flex;
    align-items:center;
    position: relative;
    gap:10px;
    max-width: 300px;
    height: 60px;
    justify-content: flex-start;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.history:hover{
    border-radius: 100px;
    background-color: #504a4a;
}
.right_bar{
    flex-basis: 100%;
    position: relative;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    overscroll-behavior: content;
}
.cont{
    display: flex;
    height: 100vh;
}
/* .conv{
    overflow:scroll;

} */
.add_icon{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}
.new_tab{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    border-radius: 100px;
    background-color: #504a4a;
    cursor: pointer;
    border: 0;

}

.new_tab:hover{
    background-color: #4681f4;
}
.new_tab_form{
    color: #fff;
    border: 0;
}

.conv .msg{
    line-height: 30px;
}
.item1{
    overflow-y:auto;
    scroll-behavior: smooth;
    margin-bottom: 60px;
    width: 100%;
}

.name{
    position: absolute;
    top:30px;
    left: 30px;
}

.prompt{
    position: sticky;
    display: flex;
    gap: 20px;
    width: 80%;
    padding:20px 20px;
    border-radius: 100px;
    background-color: #2c2b2b;
    color: #fff;

}
.prompt input{
    flex-basis:90% ;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.prompt input::placeholder{
    color: #fff;
    font-size: 16px;
}
.prompt_parent{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 80%;
}


.chatbot{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.chatbot img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
#tab-detail{
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
}
.history span:hover{
    cursor: pointer;
}
.history span:hover::after{
    content: "delete tab";
    font-size: 12px;
    padding: 5px;
    background-color: #ebe2e2;
    color: #423c3c;
    position: absolute;
    top: -15px;
    right: 0;
    margin-left: 15px;
}
.logout_btn{
    border: 0;
    color: black;
    background-color: #4681f4;
    padding: 10px;
    position: absolute;
    top:15px;
    right: 15px;
}
.logout_btn:hover{
    cursor: pointer;
}
#scheck{
    display: none;
}
#scheck:checked ~ .left_bar{
    flex-basis: 0%;
    overflow-y: hidden;
}